@using Microsoft.AspNetCore.Http
@model Proyecto_Biblioteca.Models.Users
@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
    int rango;
    if(ViewData["rango"] != null)
    {
        rango = (int)ViewData["rango"];
    }
    else
    {
        rango = 0;
    }
}

<div class="container">
    @if (rango == 3 || rango == 2)
    {
        <form method="post" asp-action="Create" enctype="multipart/form-data">
            <div class="form-group">
            <label asp-for="name" class="control-label">Pon un Usuario</label>
            <input asp-for="name" type="text" class="form-control" />
            <span asp-validation-for="name" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="password" class="control-label">Crea una Contraseña</label>
            <input asp-for="password" type="password" class="form-control" />
            <span asp-validation-for="password" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="rango" class="control-label">Elige un rango</label>
            <input asp-for="rango" class="form-control" />
            <span asp-validation-for="rango" class="text-danger"></span>
        </div>
        <div class="from-group">
             <input type="submit" value="Crear Usuario" class="btn btn-primary" />
        </div>
        </form>
    }
    else
    {
        <div>No tines permiso</div>
    }
</div>

