@model Proyecto_Biblioteca.Models.Libros
@{
    ViewData["Title"] = "Pdf";
}

<body>
    <div>
        <iframe src="@Url.Action("MostrarPDF", "Libros", new { id = Model.id })" width="800" height="600"></iframe>
    </div>
</body>
